@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
body, html {
    font-family: 'Rajdhani', sans-serif;
}
.header{
  background-color: #cccccc;
  height: 400px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url("./assets/food.jpeg");
}
.header h1{
  padding-top: 150px;
}
.food-img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 55px;
  margin: 50px;
}
.food-img img{
  width: 125px;
  height: 125px;
  border-radius: 60px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
